!!! 5
%html
  %head
    %title Gallery
    %link{rel => 'stylesheet', href => 'public/styles/style.min.css'}
  %body
    %ul.le-gallery
      - for ($i = 0; $i < 9; $i++)
        %li.le-gallery__image Etusivu

    %script{src => 'public/scripts/vendor.min.js'}
    %script{src => 'public/scripts/app.min.js'}